<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina com socket.io</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Socket.io</h1>

  <h3>Mensagens</h3>

  <ul id="messages">

  </ul>

  <h3>Users</h3>

  <ul id="users">

  </ul>

  <input type="text" id="message"/>
  <button id="sendMessage">Enviar</button>

  <script>
    const socket = io();

    document.querySelector('#sendMessage').addEventListener('click', (e) => {
      const message = document.querySelector('#message').value;
      socket.emit('message', message);
    });

    socket.on('newMessage', (message) => {
      const messageLi = document.createElement('li');
      messageLi.innerText = message;
      document.querySelector('#messages').appendChild(messageLi);
    });

    socket.on('xyz', (data) => {
      console.log(data);
    });

    socket.on('broadcastMessage', (data) => {
      console.log(data);
    });

    socket.on('updateUsers', (user) => {
      user.forEach((user) => {
        const userLi = document.createElement('li');
        userLi.innerText = user.socketId;
        document.querySelector('#users').appendChild(userLi);
      });
    });
  </script>
</body>
</html>